<body class>
    <div id="main-wrapper" style = "font-family:Arial, Helvetica, sans-serif;">
      <div class="container">	
        <div class="row">
        </div>
        <div class="spec_box2">
          <p class="lead" style="font-weight: bold;font-size:small;">
          <h5 style = font-family:calibri><b>Word Count App</b></h5>
          </p>
          <p class="lead" style="font-size:small;">
            An app to count the words of a text file given by user.
          </p>
        </div>
      </div>
    </div>  
    </nav>
          
        <a class="nav-item nav-link" href="/upload">Upload</a>
    
    </div>
    </nav>  
</body>